@model List<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}
@{

    if (@ViewData["Code"] == null)
    {

    }
    else if (Convert.ToInt32(@ViewData["Code"]) == 1)
    {
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">@ViewData["Message"]</li>

        </ul>
    }
    else if (Convert.ToInt32(@ViewData["Code"]) == 0)
    {
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">@ViewData["Message"]</li>

        </ul>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                User Information
            </th>


            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.UserName)


                </td>
                <td><a asp-action="Update" asp-route-id="@item.Id" /> Assign Student Role</td>

            </tr>
        }

        @{
            foreach (var item in (List<UserRole>)ViewData["userManager"])
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        @foreach (var item2 in item.Roles)
                        {
                            <h6>@item2</h6>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
